@model PolishWarehouse.Models.PolishDestashModel
@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Destash";
    var polish = Model;
    var primaryColors = ViewBag.PrimaryColors;
    var secondaryColors = ViewBag.SecondaryColors;
    var glitterColors = ViewBag.GlitterColors;
    var brands = ViewBag.Brands;
    var polishTypes = ViewBag.PolishTypes;

    var header = string.IsNullOrWhiteSpace(polish.PolishName) ? "New Destash Polish" : polish.PolishName + " Destash";
    bool isNew = string.IsNullOrWhiteSpace(polish.PolishName);

    @Html.Partial("MessageControl")

    using (Html.BeginForm("DestashDetails", "Polish", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="PolishID" id="PolishID" value="@polish.ID">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@header</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="BrandID">Brand Name*</label>
                                        <br />
                                        <input list="BrandList" id="BrandName" name="BrandName" class="form-control" placeholder="Brand Name" value="@polish.BrandName">
                                        <datalist id="BrandList">
                                            @foreach (var brand in brands)
                                        {
                                        <option value="@brand.Name"></option>
                                        }
                                        </datalist>
                                        <input type="hidden" name="BrandID" id="BrandID" value="@polish.BrandID">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="PolishName">Polish Name*</label>
                                        <br />
                                        <input type="text" id="PolishName" name="PolishName" placeholder="Polish Name" class="form-control" value="@polish.PolishName" />
                                    </div>

                                </div>
                                <div class="row hidden">
                                    <div class="col-md-6">
                                        <label for="ColorID">Color*</label>
                                        <br />
                                        <input list="ColorList" id="ColorName" name="ColorName" class="form-control" placeholder="Primary Color" value="@polish.ColorName">
                                        <datalist id="ColorList">
                                            @foreach (var color in primaryColors)
                                        {
                                        <option value="@color.Name"></option>
                                        }
                                        </datalist>
                                        <input type="hidden" name="ColorID" id="ColorID" value="0">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="PolishName">Color Number*</label>
                                        <br />
                                        <input type="text" id="ColorNumber" name="ColorNumber" placeholder="Color Number" class="form-control" value="@(polish.ColorNumber == 0 ?  "" : polish.ColorNumber.ToString())" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="PolishName">Description</label>
                                        <br />
                                        <textarea class="form-control" rows="5" id="Description" name="Description" placeholder="Description">@polish.Description</textarea>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="col-md-6">
                                        <label for="SecondaryColorsIDs">Secondary Colors</label>
                                        <br />
                                        <select multiple id="SecondaryColorsIDs" name="SecondaryColorsIDs" class="form-control">
                                            <option></option>
                                            @foreach (var color in secondaryColors)
                                        {
                                            string sel = "";
                                            if (polish.SecondaryColors != null)
                                            {
                                                if (polish.SecondaryColors.Any(c => c.ID == color.ID))
                                                {
                                                    sel = "selected";
                                                }
                                            }

                                        <option @sel value="@color.ID">@color.Name</option>
                                        }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="GlitterColorsIDs">Glitter Colors</label>
                                        <br />
                                        <select multiple id="GlitterColorsIDs" name="GlitterColorsIDs" class="form-control">
                                            <option></option>
                                            @foreach (var color in glitterColors)
                                        {
                                            string sel = "";
                                            if (polish.GlitterColors != null)
                                            {
                                                if (polish.GlitterColors.Any(c => c.ID == color.ID))
                                                {
                                                    sel = "selected";
                                                }
                                            }

                                        <option @sel value="@color.ID">@color.Name</option>
                                        }
                                        </select>
                                    </div>

                                </div>
                                <div class="row hidden">
                                    <div class="col-md-3">
                                        <label for="Coats">Coats</label>
                                        <br />
                                        <input type="number" id="Coats" name="Coats" placeholder="Coats" class="form-control" value="@polish.Coats" />
                                    </div>
                                    <div class="col-md-3">
                                        <label for="Coats">Quantity</label>
                                        <br />
                                        <input type="number" id="Quantity" name="Quantity" placeholder="Quantity" class="form-control" value="@polish.Quantity" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="submit"></label>
                                        <br />
                                        <input type="submit" class="btn btn-default" value="Save" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                @if (polish.Images != null)
                                {
                                    if (polish.Images.Count() > 0)
                                    {
                                        var DisplayImage = @polish.Images.Where(i => i.DisplayImage).SingleOrDefault();
                                        if (DisplayImage == null)
                                            DisplayImage = polish.Images[0];

                                        <a href="#" onclick="$('#Image-Gallery-Modal').modal('show'); return false;"><img src="@DisplayImage.ImageForHTML" class="img-polish-display" alt="image" /></a>
                                        <br />
                                        @Html.ActionLink("Manage Images", "ManageImages", "Polish", new { id = polish.ID }, new { @class = "btn btn-default" })
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/default.png" class="img-polish-display" alt="default image" />
                                    }
                                }
                                else
                                {
                                    <img src="~/Content/Images/default.png" class="img-polish-display" alt="default image" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Destash Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="destash-sellQty">Asking Price*</label>
                                <br />
                                @if (polish.AskingPrice.HasValue)
                                {
                                    <input type="number" id="destash-askingPrice" step="0.01" name="AskingPrice" value="@polish.AskingPrice.Value.ToString("N2")" class="form-control" />
                                }
                                else
                                {
                                    <input type="number" id="destash-askingPrice" step="0.01" name="AskingPrice" class="form-control" />
                                }
                            </div>
                            <div class="col-md-6">
                                <label for="PolishName">Sell Qty*</label>
                                <br />
                                <input type="number" id="destash-sellQty" name="SellQty" value="@polish.SellQty" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="destash-buyerName">Buyer Name</label>
                                <br />
                                <input type="text" id="destash-buyerName" name="BuyerName" placeholder="Name" value="@polish.BuyerName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label for="destash-soldPrice">Sold Price</label>
                                <br />
                                <input type="number" id="destash-soldPrice" step="0.01" name="SoldPrice" value="@polish.SoldPrice" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="destash-trackingNumber">Tracking</label>
                                <br />
                                <input type="text" id="destash-trackingNumber" name="TrackingNumber" placeholder="Tracking" value="@polish.TrackingNumber" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label for="destash-Status">Status</label>
                                <br />
                                <select id="destash-status" name="SaleStatus">
                                    <option></option>
                                    @switch (polish.SaleStatus)
                                    {
                                        case "P":
                                            <option value="P" selected>Pending</option>
                                            <option value="S">Sold</option>
                                            break;
                                        case "S":
                                            <option value="P">Pending</option>
                                            <option value="S" selected>Sold</option>
                                            break;
                                        default:
                                            <option value="P">Pending</option>
                                            <option value="S">Sold</option>
                                            break;
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Notes">Notes</label>
                                <br />
                                <textarea class="form-control" rows="5" id="destash-Notes" name="DestashNotes" placeholder="Notes">@polish.DestashNotes</textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="Notes">Internal Notes</label>
                                <br />
                                <textarea class="form-control" rows="5" id="destash-internalNotes" name="InternalNotes" placeholder="Internal Notes">@polish.InternalDestashNotes</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="submit"></label>
                                <br />
                                <input type="submit" class="btn btn-default" value="Save" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">Additional Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="WasGift">Gift</label>
                                <br />
                                <label class="switch">
                                    <input id="WasGift" name="WasGift" type="checkbox" @(polish.WasGift ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label for="GiftFromName">Gifter's Name</label>
                                <br />
                                <input type="text" 2" id="GiftFromName" name="GiftFromName" placeholder="Name" class="form-control" value="@polish.GiftFromName" />
                            </div>
                            <div class="col-md-4">
                                <label for="HasBeenTried">Has been tried?</label>
                                <br />
                                <label class="switch">
                                    <input id="HasBeenTried" name="HasBeenTried" type="checkbox" @(polish.HasBeenTried ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="PolishName">Notes</label>
                                <br />
                                <textarea class="form-control" rows="5" id="Notes" name="Notes" placeholder="Notes">@polish.Notes</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">Polish Types</h3>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div class="row">
                            @foreach (var type in polishTypes)
                        {
                            string check = "";
                            if (polish.Types != null)
                            {
                                check = polish.Types.Any(pt => pt.ID == type.ID) ? "checked" : "";
                            }
                        <div class="col-sm-3">
                            <span>@type.Name</span>
                            <br />
                            <label class="switch">
                                <input value="@type.ID" name="TypesIDs" type="checkbox" @check>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Media</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="MakerImage">Images</label>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">Browse&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span><input type="file" name="files" id="files" multiple /></span>
                                    </span>
                                    <input class="form-control" type="text" readonly="" id="file_display">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="Add-New-Brand-Confirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Brand?</h4>
                </div>
                <div class="modal-body">
                    <span id="Add-New-Brand-Text"></span>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2"><button id="Add-New-Brand-Confirm-Btn" class="btn btn-default">Yes</button></div>
                        <div class="col-md-8"></div>
                        <div class="col-md-2"><button class="btn btn-danger" onclick="$('#Add-New-Brand-Confirm').modal('hide'); return false;">No</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Image-Gallery-Modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
                    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <div class="links" id="links">
                        @if (polish.Images != null)
                        {
                            if (polish.Images.Count() > 0)
                            {
                                foreach (var image in polish.Images)
                                {
                                    <a href="@image.ImageForHTML"></a>
                                }
                            }
                        }
                    </div>
                    <script>
                        $('#Image-Gallery-Modal').on('shown.bs.modal', function (e) {
                            blueimp.Gallery(
                                    document.getElementById('links').getElementsByTagName('a'),
                                    {
                                        container: '#blueimp-gallery-carousel',
                                        carousel: true
                                    }
                                );
                        });
                    </script>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#ColorName').on("blur", function (e) {
                var token = $('[name=__RequestVerificationToken]').val();
                var data = {
                    __RequestVerificationToken: token,
                    colorName: $('#ColorName').val()
                };

                $.ajax({
                    url: "@Url.Action("GetPolishQuickInfo", "Polish")",
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        $("#ColorNumber").val(response.number);
                        $("#ColorID").val(response.id);
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });

            $('#SecondaryColorsIDs').select2({
                placeholder: "Select Secondary Colors"
            });

            $('#GlitterColorsIDs').select2({
                placeholder: "Select Glitter Colors"
            });

            $("#BrandName").on("blur", function () {
                if ($('#BrandName').val() != "") {
                    var token = $('[name=__RequestVerificationToken]').val();
                    var data = {
                        __RequestVerificationToken: token,
                        BrandName: $('#BrandName').val()
                    };

                    $.ajax({
                        url: "@Url.Action("GetBrandID", "Settings")",
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            if (response > 0) {
                                $("#BrandID").val(response);
                            }
                            else {
                                var n = $('#BrandName').val();
                                $("#Add-New-Brand-Text").text('Are you sure you want to add " ' + n + '" as a brand?');
                                $("#Add-New-Brand-Confirm").modal("show");
                            }
                        },
                        failure: function (response) {
                            alert(response);
                        },
                        error: function (response) {
                            alert(response);
                        }
                    });
                };
            });

            $("#Add-New-Brand-Confirm-Btn").on("click", function () {
                var token = $('[name=__RequestVerificationToken]').val();
                var data = {
                    __RequestVerificationToken: token,
                    BrandName: $('#BrandName').val()
                };

                loading();
                $.ajax({
                    url: "@Url.Action("AddBrand", "Settings")",
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        if (response > 0) {
                            $("#BrandID").val(response);
                            $("#Add-New-Brand-Confirm").modal("hide");
                        }
                        else {
                            alert("Unknown error adding brand.");
                        }
                        doneLoading();
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });

            $("#BrandName").focus();
        });
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            $('#file_display').val(label);
        });
    </script>
}
else
{
    //TempData["Errors"] = "Please Log in.";
    Response.Redirect("~/Account/Login");
}