<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.css" />
    <script type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>
    <link href="~/Content/bootstrap-table.css" rel="stylesheet">
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Polish Warehouse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add", "Details", "Polish")</li>
                    <li>@Html.ActionLink("List", "Index", "Polish")</li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Colors", "Colors", "Settings")</li>
                            <li>@Html.ActionLink("Brands", "Brands", "Settings")</li>
                            <li>@Html.ActionLink("Brand Categories", "BrandCategories", "Settings")</li>
                            <li>@Html.ActionLink("Polish Types", "PolishTypes", "Settings")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Utilities <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Import", "Import", "Polish")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
        <div class="modal fade" id="loadingModal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Processing...</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-refresh glyphicon-spin large-glyphicon text-center"></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <script>
                    function loading() { $("#loadingModal").modal(); }
                    function doneLoading() { $("#loadingModal").modal("hide"); }
                    //$(document).ready(function () { loading(); });
                </script>
            </div>

            @RenderSection("scripts", required: false)

</body>
</html>